/* Importing Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background: #1B1B1D ;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
}

header .navbar{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navbar .menu-links a{
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar .menu-links a:hover{
    color: #19a463;
}

.navbar .menu-links .language-item a{
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar .menu-links .language-item span{
    font-size: 1.3rem;
}

.navbar .menu-links .join-btn a{
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 15px;
}

.navbar .menu-links .join-btn a:hover{
    color: #fff;
    background: #19a463;
    border-color: transparent;
}

.navbar .logo{
    height: 50px;
    width: 50px;
}

.hero-section {
    height: 100vh;
    background: url("images/hero-img.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content{
    max-width: 1400px;
    margin: 0 auto 40px;
    width: 100%;
}

.hero-section .content h1{
    color: #fff;
    font-size: 3rem;
    max-width: 630px;
}

.hero-section .search-form{
    display: flex;
    height: 48px;
    max-width: 630px;
    margin-top: 30px;
}

.hero-section .search-form input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: #fff;
    font-size: 1rem;
    padding: 0 15px;
    border-radius: 4px 0 0 4px;
}

.hero-section .search-form button{
    height: 100%;
    width: 60px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    background: #1dbf73;
    transition: background 0.2s ease;
}

.hero-section .search-form button:hover{
    background: #19a463;
}

.hero-section .popular-tags{
    display: flex;
    color: #fff;
    gap: 24px;
    font-size: 0.9rem;
    font-weight: 500;
    align-items: center;
    margin-top: 25px;
}

.hero-section .popular-tags .tags{
    display: flex;
    list-style: none;
    gap: 15px;
}

.hero-section .tags li a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 4px 12px;
    text-decoration: none;
}

.hero-section .tags li a:hover{
    color: #1B1B1D;
    background: #fff;
}

.navbar #hamburger-btn{
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}

.navbar #close-menu-btn{
    color: #000;
    font-size: 1.7rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

@media screen and (max-width:900px){

    header .show-mobile-menu::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    .navbar :is(#hamburger-btn, #close-menu-btn){
        display: block;
    }

    .navbar .menu-links{
        background: #fff;
        height: 100vh;
        max-width: 300px;
        width: 100%;
        position: fixed;
        left: -300px;
        top: 0;
        display: block;
        padding: 75px 40px 0;
        transition: left 0.2s ease;
    }

    header .show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    .navbar .menu-links li{
        margin-bottom: 30px;
    }

    .navbar .menu-links a {
        color: #000;
        font-size: 1.1rem;
    }

    .navbar .menu-links .join-btn a{
        padding: 0;
    }

    .navbar .menu-links .join-btn a:hover{
        color: #1dbf73;
        background: none;
    }

    .hero-section{
        background: none;
    }
    .hero-section .content :is(h1, .search-form){
        max-width: 100%;
    }

    .hero-section .content h1{
        text-align: center;
        font-size:  2.5rem;
        line-height: 55px;
    }

    .hero-section .search-form{
        display: block;
        margin-top: 20px;
    }

    .hero-section .search-form input{
        border-radius: 4px;
    }

    .hero-section .search-form button{
        width: 100%;
        margin-top: 10px;
        border-radius: 4px;
    }

    .hero-section .popular-tags{
        display: none;
    }
}